*.class

# Package Files #
*.jar
*.war
*.ear
common\.settings
api\.settings
service\.settings
admin\.settings
BIUmgmt\.settings

common\.project
api\.project
service\.project
admin\.project
BIUmgmt\.project

common\.classpath
api\.classpath
service\.classpath
admin\.classpath
BIUmgmt\.classpath

common\target
api\target
service\target
admin\target
BIUmgmt\target

common\bin
api\bin
service\bin
admin\bin
BIUmgmt\bin

common/WebContent
services/WebContent
#uploader/WebContent
#admin/WebContent
#BIUmgmt/WebContent


api/WebContent/WEB-INF/classes/
admin/WebContent/WEB-INF/classes/


.project
.settings
.classpath
target
bin


# idea # 
.idea
.idea/workspace.xml
.idea/modules.xml
common\.idea
common/.idea
api\.idea
api/.idea
service\.idea
service/.idea
admin\.idea
admin/.idea
BIUmgmt\.idea
BIUmgmt/.idea


*.iml
service/service.iml
api/api.iml
common/common.iml
admin/common.iml
BIUmgmt/common.iml

Servers
.metadata



.DS_Store
common/.DS_Store
api/.DS_Store
servicen/.DS_Store
admin/.DS_Store
BIUmgmt/.DS_Store


RemoteSystemsTempFiles

